.App {
  background-color: rgb(247, 244, 244);
  min-height: 100vh;
  min-width: 100vw;
  /* imagen de fondo de la app  */
  background-image: url("https://us.123rf.com/450wm/gyn9037/gyn90371902/gyn9037190200071/116624210-guangxi-nanning-qingxiu-shan-paisajes-lagos-y-edificios-antiguos-.jpg?ver=6");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* aplicar  imagen opaca   */
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.5);
  
  /* no perder difinicion de la imagen de fondo   */
  background-clip: border-box;
  /* no perder difinicion de la imagen de fondo   */
  background-origin: padding-box;
  /* no perder difinicion de la imagen de fondo   */
  background-color: rgb(247, 244, 244); 

 
}
/* para dispotitivos moviles  */



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
